.btn-window {
  -fx-border-color        : transparent;
  -fx-background-color    : transparent;
  -fx-background-repeat   : no-repeat;
  -fx-background-size     : contain;
  -fx-background-position : center;
}

.btn-window-close {
  -fx-background-image : url("images/close.png");
}

.btn-window-close:hover {
  -fx-background-image : url("images/close-hover.png");
}

.btn-window-hide {
  -fx-background-image : url("images/hide.png");
}

.btn-window-hide:hover {
  -fx-background-image : url("images/hide-hover.png");
}

.btn-window-zoom {
  -fx-background-image : url("images/zoom.png");
}

.btn-window-zoom:hover {
  -fx-background-image : url("images/zoom-hover.png");
}