.root {
  -fx-font : 11px Arial;
}

.dialog-pane {
  -fx-background-color  : rgba(0, 0, 0, 0);
  -fx-background-radius : 5px;
  -fx-border-radius     : 5px;
  -fx-border-color      : -fx-box-border;
  -fx-pref-height       : 90px;
  -fx-pref-width        : 400px;
}

.dialog-pane.dragged {
  -fx-border-color: #486a9a;
}

/* remove button area */
.dialog-pane > .button-bar > .container {
  -fx-padding: 0;
}

.dialog-pane:header .header-panel {
  -fx-background-radius : 5 5 0 0;
}

.dialog-pane:header .header-panel .label {
  -fx-font-size   : 13px;
  -fx-font-weight : bold;
}

.dialog-pane > .content {
  -fx-background-radius : 0 0 5 5;
  -fx-padding           : 8 0 0 0;
  -fx-background-color  : -fx-box-border, linear-gradient(-fx-background, derive(-fx-background, 30%));
}

.dialog-pane > .content {
  -fx-spacing: 8px;
}

.dialog-pane > .content > .label {
  -fx-padding : 0 0 0 10;
}

.progress-bar {
  -fx-pref-height: 13;
}

.progress-bar .bar {
  -fx-accent: black;
  -fx-background-color :
    #a6b5c9,
    linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
    linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
  -fx-background-insets : 0;
  -fx-background-radius : 0;
}

.progress-bar > .track {
  -fx-text-box-border          : -fx-box-border, linear-gradient(-fx-background, derive(-fx-background, 40%));
  -fx-control-inner-background : -fx-box-border, linear-gradient(-fx-background, derive(-fx-background, 40%));
  -fx-background-insets        : 0;
  -fx-background-radius        : 0;
}