.progress-bar {
    -fx-pref-height: 12px;
}

.progress-bar .bar {
    -fx-accent: black;
    -fx-background-color :
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets : 0;
    -fx-background-radius : 0;
}

.progress-bar > .track {
    -fx-text-box-border          : -fx-box-border, linear-gradient(-fx-background, derive(-fx-background, 40%));
    -fx-control-inner-background : -fx-box-border, linear-gradient(-fx-background, derive(-fx-background, 40%));
    -fx-background-insets        : 0;
    -fx-background-radius        : 0;
}